<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
		  <customHeaders>
            <remove name="X-Powered-By" />
            <add name="X-Powered-By" value="cache" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="X-Frame-Options" value="DENY" />     
            <add name="Expect-CT" value="enforce, max-age=43200" />;
            <add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data:;" />;
            <add name="Feature-Policy" value="fullscreen 'none'" />;
            <add name="Permissions-Policy" value="fullscreen=()"/>;
            <add name="Referrer-Policy" value="no-referrer" />
            <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />;
            <add name="Server" value="Windows-Azure-Web/1.0" />
		  </customHeaders>
		</httpProtocol>
        <caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".gitignore" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
